/*comont style*/
body {
	margin: 0px;
	font-family: 'Roboto Serif', serif;
	
}


.navication-wrapper{
	height: 190px;
	background-color:#11122b;
	color: #cbcbcb;
	/*flex box container*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 100px;
} 
.left-column{
	display: flex;
	align-items: center;
}


.navication-wrapper-link-wrappera {
	color: white;
}


.icon {
margin-right: 15px;

}
.con i {
	font-size: 2em;
}
     
.left-column> .contact-hours-wrapper{
	display: grid;
    grid: template columns 1fr;
	grid-gap: 10px;
}
.contact-hours-wrapper>.hours{
	font-family: 'Ubuntu', sans-serif;
}


.Address-wrapper{
	
}